@font-face {
    font-family: pokeFont;
    src: url(./PokemonGb-RAeo.ttf)
}
body{
    font-family: 'Times New Roman', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #607d8b;
    min-width: 710px;
    margin: 0;
}

#header {
    text-align: center;
    color: aliceblue;
}

#content {
    display: flex;
    max-width: 1200px;
    padding: 70px;
    background-color: bisque;
    justify-content: space-between;
    border-radius: 100px;
    gap: 100px;
    margin: 0 auto;
    
}

#color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

#color div {
    font-size: 18px;
    text-align: center;
    border-radius: 18px;
    background-color: white;
    width: 200px;
    font-family: pokeFont, sans-serif;
    padding: 8px;
}

#color button{
    width: 100px;
    border-radius: 18px;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
}

#color #black {
    background-color: black;
    color: white;
}

#color #blue {
    background-color: #fff27c;
    color: #09aef9;
}

#color #rainbow {
    background-color: #f44336;
    color: #ffc107;
}


#sketchBorder{
    display: flex;
    background-color: burlywood;
    border-radius: 18px;
    padding: 30px;
    
}
#sketchbox {
    display: flex;
    background-color: white;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: auto;
}

.box{
    border: #607d8b;
}

.box:hover{
    background-color:  black;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: aliceblue;
    padding: 8px;
}
#github {
    width: 14px;
    margin: 0 4px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}