body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sketchbox {
    display: flex;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.box:hover{
    background-color: aquamarine;
}